name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    name: Build macOS
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - arch: amd64
            output_name: janus-darwin-amd64
          - arch: arm64
            output_name: janus-darwin-arm64
    steps:
      - uses: actions/checkout@v6
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"
      - name: Build
        env:
          GOOS: darwin
          GOARCH: ${{ matrix.arch }}
        run: go build -o ${{ matrix.output_name }} ./cmd/tock
      - name: Upload Artifact
        uses: actions/upload-artifact@v6
        with:
          name: ${{ matrix.output_name }}
          path: ${{ matrix.output_name }}

  release:
    name: Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          version: latest
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TAP_GITHUB_TOKEN: ${{ secrets.TAP_GITHUB_TOKEN }}
